@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;1,100&display=swap');

*{margin: 0;
  padding: 0;
}
h3{
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
  color: rgba(39, 0, 130, 1);
  margin: 0 0 2vw 0;
}
h2{
  font-family: 'Covered By Your Grace', cursive;
  font-size: 50px;
 
  color: rgba(39, 0, 130, 1);
  margin:5vw 0 2vw 10vw;
}
/*----------------------------HOME PAGE START-------------------------------*/
/*-------------header starts*/
.imageContainer{
  float: right;
  margin-top: 3rem;
  margin-right: 8rem;
}

.headerimage{
  filter: drop-shadow(30px 10px 5px rgba(39, 0, 130, 1));
}

@media screen and (max-width:1024px){
  .headerimage {
    max-width: 25vw;
    max-height: 25vw;
  }
  .imageLink{
    width: 2rem;
    height: 2rem;
  }
  .imageContainer{
    max-height: 2rem;
  }
}

@media screen and (min-width:1025px){
  .headerimage {
    max-width: 100%;
    max-height: 100%;
  }
  .imageLink{
    max-width: 100%;
    max-height: 100%;
  }
  .imageContainer{
    max-height: 20rem;
  }
}

.headercontent{
  width: 100%;
  padding: 0 0 5vw 0;
  display: flex;
  overflow: hidden;
}


.header{
  position: relative;
  overflow-x: hidden;

}
.header::before {
  content: "";
  position: absolute;
  overflow-x:hidden ;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:rgba(193, 112, 175, 1);

  z-index: -1;
  border-radius: 0 0 50% 50% / 0 0 100% 100%;
  transform: scaleX(1.5);
} 
.headertext{
  width: 100%;
  margin: 5vw 0 0 10vw;
  padding: 0 0 0 0;

}

.headertext h1{
  font-size: 70px;
  color: rgba(39, 0, 130, 1);
  font-family: 'Covered By Your Grace', cursive;
  margin: 0 0 0 0;

}
.headertext h2{
  
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  
  

}
.welcome{
  margin: 0 0 4.5vw 0;
  font-size: 40px;
  
}

.name{
  display: flex;
  flex-direction: row;
}


.namearrow{
  width: 25%;
  padding: 0 5vw 0 0;
}
  
 /*-------------header ends*/ 

/*-------------side icons starts*/
nav{
  display: flex;
  flex-direction: column;
  margin: 12vw 0 0 3vw;
  position:absolute;
  z-index: 1;  
  position: fixed;
  top: 0;
}
nav img{
  width: 3vw;
  margin: 0 0 2vw 0;
  
}

.infolinks{
  z-index: 10;
  float: left;
}

/*-------------header ends*/

/*-------------scroll down starts*/
.scroll{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.scroll img{
  width: 5vw;
  margin: 1vw 0 1vw 0;
}

.scroll p {
  color: white;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;

}

/*-------------scroll down ends*/

/*-------------Home page content starts*/

.projects h2{
  font-family: 'Covered By Your Grace', cursive;
  font-size: 50px;
  margin:5vw 0 0 10vw;
  color: rgba(39, 0, 130, 1);
  
}
.grid-container{

  display: flex;
  flex-direction: column;
  margin: 5vw 0 0 0;
  text-align: right;
}

.projectcard{
  display: flex;
  flex-direction: row;
  margin: 0 10vw 5vw 10vw ;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  position: relative;
  border-radius: 2vw;
}


.projectcard:nth-child(1n){
  text-align: left;
  
}

.projecttext{
  font-family: 'Raleway', sans-serif; 
  margin: 0 0 0 2vw;
  width: 100%;
  align-self: center;
}

.projecttext h2{
  font-size: 24px;
  font-weight: 700;
  color: rgba(39, 0, 130, 1);
  margin-bottom: 20px;
}

.projecttext p{
  font-size: 20px;
  margin: 0 0 2vw 0;

}

.grid-container img{
  width: 40vw;
  height: 20vw;
  object-fit: cover;
  box-shadow: 0px 10px 14px -7px  rgba(34, 35, 58, 0.2);
  border-radius: 2vw 0 0 2vw;
  
  /*test*/
  
    flex-shrink: 0;
    height: 300px;

    overflow: hidden;



}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
	padding: 0 0 0 0;
}

.buttonlink {
  color: rgba(39, 0, 130, 1);
  text-decoration: none;
  position: relative;
  padding: 14px 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  letter-spacing: 0.040em;
  
}

.buttonlink svg {
  fill: none;
  stroke:rgba(39, 0, 130, 1);
  stroke-width: 3;
  stroke-miterlimit: 10;
  stroke-dasharray: 338;
  stroke-dashoffset: 338;
  stroke-linecap: round;
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(100% + 60px);
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: stroke-dashoffset 0s 0.2s, opacity 0.2s;
  z-index: -1;
}

.buttonlink--active svg {
  stroke:rgba(193, 112, 175, 1);
}

.buttonlink--active svg,
.buttonlink:hover svg {
  stroke-dashoffset: 0;
  opacity: 1;
  transition: opacity 0s, stroke-dashoffset 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

/*-------------Home page content ends*/

/*----------------------------HOME PAGE ENDS-------------------------------*/
footer{
  position: relative;
  bottom:0;
  text-align: center;
  position: relative;
  overflow-x: hidden;
  padding: 3vw 0 4vw 0;
}

footer h2{
  color:rgba(39, 0, 130, 1);
  font-family:'Covered By Your Grace', cursive; 
  font-size: 50px;
  margin: 2vw 0 2vw 0;

}

footer p{
  color: white;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  margin: 0 0 1vw 0 ;
}

footer::before {
  content: "";
  position: absolute;
  overflow-x:hidden ;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:rgba(193, 112, 175, 1);
  z-index: -1;
  border-radius: 50% 50% 0 0 / 100% 100% 0 0;
  transform: scaleX(1.5);
}
/*----------------------------FOOTER PAGE ENDS-------------------------------*/

/*----------------------------ABOUT PAGE STARTS-------------------------------*/
.aboutheader{
  font-size: 50px;
  color: rgba(39, 0, 130, 1);
  font-family: 'Covered By Your Grace', cursive;
  margin: 3vw 0 3vw 0;
  text-align: center;
}


.abouttextcard{
  display: flex;
  flex-direction: row;
  margin:2vw 0 0 10vw;
}
.abouttext-left{
  width: 50%;
  margin: 0 4vw 0 0;
  padding: 0 0 0 0 ;
}
.abouttext-left p{
  margin: 0 0 2vw 0;
  font-family: 'Raleway', sans-serif;
  line-height: 1.6;

}
.abouttext-right{
  width: 50%;
  overflow: hidden;
}
.abouttextimage{
  width: 30vw;  
}


.aboutmeskills{
  margin: 8vw auto auto auto;
  background-color: rgba(229, 228, 243, 1);
  width:80% ;
  padding: 0 0 3vw 0;
  
  
}
#myskills{
  text-align: center;
  margin: 0 0 2vw 0;
  padding: 2vw 0 0 0;
}
.skillstable{
  margin:auto;
  width: 80%;
  display: flex;
  flex-direction: row; 
  align-items: center; 
  text-align: center;
  column-count: 2;
  
}
.skills{
  width: 50%;

}

#firstcolumn{
 border-right: solid 3px rgba(193, 112, 175, 1);
 margin: 0 0 0 0 ;
}
.skillList{
  text-align: center;
  list-style: none;
  font-family: 'Raleway', sans-serif;
  line-height: 2;
  margin: 0 1vw 2vw 2vw;

  
}
.skillList li::before {
  content: "\2022";
  color:rgba(193, 112, 175, 1);
  font-weight: bold;
  display: inline-block; 
  width: 1em;
  margin-left: -1em;
}
  

.skillicon{
  width: 10vw;
}


.interesttable{
  margin:0 10vw 5vw 10vw;
  font-family: 'Raleway', sans-serif;
  line-height: 1.6;

}
.interesttable li{
 margin: 0 0 2vw 0;
 list-style: none;
}
.interesttable li ::before{
  content: "\2022";
  color:rgba(193, 112, 175, 1);
  font-weight: bold;
  display: inline-block; 
  width: 1em;
  margin-left: -1em;
}
  